@import "../../styles/mixins";

.container {
  @include flexCenter(column);

  margin: 24px 24px 67px;
  gap: 172px;

  &__title {
    position: relative;
  }

  .image {
    width: 100%;
    object-fit: contain;
  }

  .floater {
    @include flexCenter(column);
    align-items: flex-start;
    justify-content: center;
    text-align: left;

    position: absolute;
    bottom: -118px;
    left: 0;
  }

  .name {
    @include flexCenter(column);
    padding: 24px;
    gap: 8px;

    width: 280px;
    background-color: $primary-color-600;
  }

  h2 {
    color: $primary-color-100;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px; /* 120.833% */
  }

  p {
    color: $primary-color-200;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
  }

  .artistImage {
    display: block;
    width: 64px;
    height: 64px;
    margin-left: 24px;
  }

  &__desc {
    @include flexCenter(column);

    gap: 68px;

    position: relative;

    p {
      color: $primary-color-200;
      font-size: 14px;
      font-weight: 700;
      line-height: 28px;
    }
  }

  .year {
    color: $primary-color-400;
    text-align: right;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px; /* 100% */

    position: absolute;

    right: 0;
    top: -74px;
    z-index: -1;
  }

  .link {
    color: $primary-color-200;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    font-size: 9px;
    line-height: normal;
    letter-spacing: 1.929px;
    text-decoration-line: underline;
    text-transform: uppercase;

    &:hover {
      color: $primary-color-100;
    }
  }

  @include tablet {
    gap: 139px;
    margin: 40px 40px 53px;

    .image {
      height: 560px;
      width: 475px;
    }

    .floater {
      bottom: unset;
      left: unset;
      top: 0;
      right: 0;

      //   max-height: 302px;
    }
    .name {
      padding: 0 0 67px 65px;
      width: 445px;
      gap: 24px;
    }

    h2 {
      overflow-wrap: break-word;
      font-size: 56px;
      line-height: 64px; /* 114.286% */
    }

    .artistImage {
      width: 128px;
      height: 128px;

      margin-left: 262px;
    }

    &__desc {
      gap: 40px;
      padding-inline: 115px;
    }

    .year {
      font-size: 200px;
      line-height: 150px; /* 75% */

      right: unset;
      left: 0;
      top: -74px;
    }
  }

  @include desktop {
    @include maxWidth;
    @include flexCenter(row);
    gap: 410px;
    margin-top: 100px;
    margin-bottom: 128px;

    .floater {
      left: 410px;
      right: unset;
      max-height: 302px;
      margin-right: 30px;
    }

    .artistImage {
      margin-left: unset;
      position: absolute;
      bottom: -322px;
      left: 95px;
    }

    &__desc {
      gap: 81px;
      padding: 115px 125px 0 0;
    }

    .year {
      right: 0;
      left: unset;
      top: 0;
    }
  }
}
