$primary-color-100: hsla(0, 0%, 0%, 1);
$primary-color-200: hsla(0, 0%, 49%, 1);
$primary-color-300: hsla(0, 0%, 90%, 1);
$primary-color-400: hsla(0, 0%, 95%, 1);
$primary-color-500: hsla(0, 0%, 89%, 1);
$primary-color-600: hsla(0, 0%, 100%, 1);

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin maxWidth {
  margin-inline: auto;
  width: min(94.5vw, 1360px);
}

@mixin desktop {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
