@import "../../styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 24px;

  @include tablet {
    display: grid;
    row-gap: 0;
    column-gap: 40px;
    margin: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 5px;
  }

  @include desktop {
    margin-inline: 0;
    margin-bottom:47px;
    grid-template-columns: repeat(4, 1fr);
  }
}
