@import "../../styles/mixins";

.container {
  display: grid;
  gap: 27px;

  margin-top: 24px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 24px;

    img {
      display: block;
      width: 113px;
      height: 32px;

      cursor: pointer;
    }
  }

  hr {
    height: 1px;
    background: $primary-color-300;
    border: none;
  }

  .link {
    color: $primary-color-200;
    text-align: right;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.929px;

    &:hover {
      color: $primary-color-100;
    }
  }


  @include tablet {
    margin-top: 29px;

    nav {
      margin-inline: 40px;
    }

    .link {
      font-style: 12px;
      letter-spacing: 2.571px;
    }
  }

  @include desktop {
    @include maxWidth;
    margin-top: 40px;

    nav {
      margin-inline: 0;
    }
  }
}
